<!-- The content below is only a placeholder and can be replaced.
<input type="text" [{[(ngModel)]="name"}]>
<p>{{name}}</p> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Hachibi </h3>
      <hr>
      <!-- Selector la [app-server] -->
      <!-- <div app-server></div> -->
      <!-- Selector thong thuong -->
      <!-- <app-server></app-server> -->
      <!-- <div class="app-server"></div> -->
      <app-server>

      </app-server>
      <hr>
    </div>
  </div>
</div>
